* {
    box-sizing: border-box;
}

.wrapper {
    min-height: 100vh;
    font-family: Helvetica, Arial, sans-serif;
    justify-content: center;
    margin-top: 75px;
}

h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}

.searchArea {
    margin: 10px 0;
    padding: 20px;
}

input {
    height: 40px;
    width: 20%;
}


/* img {
    width: 100px;
    height: 100px;
} */

.container, .boxes, .boxes img, p {
    display: flex;
}

.container {
    flex: 1 75%;
    padding-top: 1em;
    height: 100%;
    flex-wrap: wrap;
    margin: 1.35em;
}

.boxes {
    border: 1px solid black;
    flex-flow: row wrap;
    margin: 1em;
    justify-content: center;
    align-items: center;
    height: 17em;
    width: 17em;
    padding: 3em;
}

.boxes img {
    flex-wrap: wrap;
    justify-content: center;
    height: 10em;
    width: 15em;
    margin: 30px 12px;
    flex-basis: 20%;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

p {
    text-align: center;
    margin: 0 auto;
    justify-content: center;
}