* {
    box-sizing: border-box;
}

.wrapper {
    min-height: 100vh;
    font-family: Helvetica, Arial, sans-serif;
    margin-top: 75px;
}

input {
    height: 40px;
    width: 20%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 75px 0 0 0;
}

.boxes img {
    display: flex;
    border: solid;
    justify-content: center;
    height: 10em;
    width: 15em;
    flex-basis: 23%;
    margin: 30px 12px;
}